
.footer-container{
    background-color: #2c2e2e;
    padding: 20px 20px;
    margin-bottom: 30px;
  }
  .footer-container p {
    font-size: 12px;
  }
  .name{
    color: #cfd6d4;
  }
.footer-logo{
    width: 30px;
}