.App {
  text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.App-header {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eeecec;
  margin-bottom: 20px;
  
}
.App-header img {
  height: 3%;
  width: 100%;
}

h1{
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



h2{
  color: #489cd4;
  margin-bottom: 5px;
  margin-top: 5px;
}
p{
  letter-spacing: 0.5px;
  color:#313131;
  
}
a{
  text-decoration: none;
}
a:hover{
  transform: scale(1.015);
  transition: .15s;
}
a:active{
  transform: scale(.9);
  transition: .15s;
}
.carousel .slide{
  background: #fff;
}
.carousel .control-dots{
  margin: 400px auto;
}
.carousel li.slide img{
  height: 450px;
}
